{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
    <meta http-equiv="U-UA-Compatible" content="IE=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'portal/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/noticia_detalhe.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/lumencustom.css' %}">
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% block extra_css %}{% endblock %}
</head>
<body>
  {% block header %}
  <header>
    <div id = "header_uol">
        <div>
          <ul>
          <li><a href="https://www.uol.com.br" target="_blank"><img src="https://i.ibb.co/gZWZsh1d/imagem-2025-11-29-140708757.png" alt="UOL imagem" width="70" height="35"></a></li>
          <li><a href="https://www.ingresso.com" target = "_blanck">INGRESSO.COM</a></li>
          <li><a href="https://uolhost.uol.com.br" target = "_blanck">UOL HOST</a></li>
          <li><a href="https://pagbank.com.br" target = "_blanck">PAGBANK</a></li>
          <li><a href="https://www.portaleducacao.com.br" target = "_blanck">CURSOS</a></li>
          <li><a href="https://play.uol.com.br" target = "_blanck">UOL PLAY</a></li>
          <li><a href="https://ads.uol.com.br" target = "_blanck">UOL ADS</a></li>
        </ul>
        </div>
        <div>
          <ul>
          <li><a href="https://busca.uol.com.br" target = "_blanck">BUSCA</a></li>
          <li><a href="https://batepapo.uol.com.br" target = "_blanck">BATE-PAPO</a></li>
          <li><a href="https://email.uol.com.br" target = "_blanck">EMAIL</a></li>
        </ul> 
        </div>
    </div>
    <div id = "header_jc">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Últimas Notícias</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Edição do Dia</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Jornal Digital</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Mais relevantes da semana</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Pernambuco</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <div class = "Submenu">
                    <li><p> <a href="{%  url 'politica' %}" style="color: black"><strong>Política</strong></a></p></li>
                    <li><a class="dropdown-item" href="{% url 'politica_local' %}">Regionais</a></li>
                    <li><a class="dropdown-item" href="{% url 'politica_global' %}">Globais</a></li>
                  </div>
                  <li><hr class="dropdown-divider"></li>
                  <div class = "Submenu">
                    <li><p> <a href="{%  url 'clima' %}" style="color: black"><strong>Climática</strong></a></p></li>
                    <li><a class="dropdown-item" href="{% url 'clima_local' %}">Regionais</a></li>
                    <li><a class="dropdown-item" href="{% url 'clima_global' %}">Globais</a></li>
                  </div>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'saude_bem-estar' %}">Saúde e Bem-Estar</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'educacao' %}">Educação</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'seguranca' %}">Segurança</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'cultura' %}">Cultura</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'economia' %}">Economia</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'mobilidade' %}">Mobilidade</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href= "{% url 'esportes' %}">Blog do Torcedor</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'receita' %}">Receita da Boa</a></li>
                </ul>
              </li>
            </ul>
          </div>  
        </div>
      </nav>
      <a href="{% url 'home' %}"><img src="https://i.ibb.co/dsczrvQ5/imagem-2025-11-29-135836164.png" alt="JC_Imagem"></a>
      <form class="d-flex" method=POST action="{%url 'pesquisa-noticia'%}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Pesquisar notícias" aria-label="Pesquisar" name='objeto'>
        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
      </form>
    </div>
    </header>
    {% endblock header %}

    <main class="container my-4">
        <div class="row">
           
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5>Mais Populares</h5>
                    </div>
                    <div class="card-body">
                        {% if noticias_populares %}
                            {% for noticia in noticias_populares %}
                                <div class="mb-3">
                                    <a href="{% url 'noticia_detalhe' noticia.id %}" class="text-decoration-none">
                                        <h6 class="card-title">{{ noticia.titulo }}</h6>
                                    </a>
                                    <small class="text-muted">
                                        {{ noticia.visualizacoes }} visualizações
                                    </small>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Nenhuma notícia disponível.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                {% block conteudo %}
                {% endblock conteudo %}

                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </main>

    {% block footer %}
    {% endblock footer %}
</body>
</html>