{% extends "portal/base.html" %}
{% load static %}


{% block criar %} Criar Notícia {% endblock %}

{% block conteudo %}
    <link rel="stylesheet" href="{% static 'portal/css/criar_noticia.css' %}">
    <form method="POST" class="formulario" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="titulo" class="rotulo">Título:</label>
        <input type="text" name="titulo" id="titulo" class="entrada" required>

        <label for="subtitulo" class="rotulo">Subtítulo:</label>
        <input type="text" name="subtitulo" id="subtitulo" class="entrada" required>

        <label for="texto" class="rotulo">Texto:</label>
        <br><textarea name="texto" id="texto" class="area descricao" required></textarea><br>

        <label for="autor" class="rotulo">Autor:</label>
        <input type="text" name="autor" id="autor" class="entrada" required>

        <label for="capa" class="rotulo">Capa:</label>
        <input type="file" name="capa" id="capa" class="entrada" required>

        {# NOVO: legenda da imagem #}
        <label for="legenda" class="rotulo">Legenda da imagem:</label>
        <input type="text" name="legenda" id="legenda" class="entrada">

        {# NOVO: áudio da notícia #}

        <label for="tema" class="rotulo">Tema:</label>
        <select name="tema" id="tema" class="entrada" required>
            <option value="">Selecione um tema</option>
            {% for tema in todas_temas %}
            <option value="{{ tema.id }}">
                {{ tema.tema }}
            </option>
            {% endfor %}
        </select>

        <button type="submit" class="botao">Criar Notícia</button>
        
        {% if erro %}
            <p class="erro">{{ erro }}</p>
        {% endif %}
    </form>
{% endblock %}