{% extends "portal/base.html" %}

{% block conteudo %}
    <div class = "noticia">
        <h3>{{ noticia.titulo }}</h3>
        <h4>{{ noticia.subtitulo }}</h4>
        <p class="opacidade_interno">{{ noticia.texto }}</p>
        <small>
            Por {{ noticia.autor }} em {{ noticia.data|date:"d/m/Y" }}
        </small>
    </div>

    <div class = "criar_comentario">
            <form class = "coment_form" method = "POST" action = "{% url 'noticia_detalhe' noticia.id %}">
                {% csrf_token %}
                <label for = "texto">Deixe seu comentário:</label>
                <textarea name="texto" id="texto" required></textarea>
                <button type= "submit">Publicar</button>
                {% if erro %}
                    <p style="color:red;">{{ erro }}</p>
                {% endif %}
            </form>
    </div>

    <div class = "comentarios">
        {% for comentario in comentarios %}
            <p>{{ comentario.texto }}</p>
            <p>Publicado em: {{ comentario.data|date:"d/m/Y H:i" }}</p>
            {% if comentario.usuario %}
                <p>Por: {{ comentario.usuario.username }}</p>
            {% endif %}
        {% endfor %}
    </div>

    <h2>Leia Mais</h2>
    <div class = "mais_noticias">
        {% if outras_noticias %}
            {% for outra_noticia in outras_noticias%}
                <div>
                    <a href="/noticia_detalhe/{{ outra_noticia.id }}"><h5>{{ outra_noticia.titulo }}</h5></a>
                    <h6>{{ outra_noticia.subtitulo }}</h6>
                    <p class="opacidade">{{ outra_noticia.texto }}</p>
                    <small>
                        Por {{ outra_noticia.autor }} em {{ outra_noticia.data|date:"d/m/Y" }}
                    </small>
                </div>
            {% endfor %}
        {% else %}
        <p>Não há outras notícias relacionadas a {{ noticia.tema.tema }}</p>
        {% endif %}
    </div>
{% endblock conteudo %}