* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header #header_uol{
  display: flex;
  justify-content: space-around;
  background-color: #262626;
  padding: 10px;
  font-size: small;
  color: white;
}

header #header_uol ul{
  display: flex;
  margin: auto;
  gap: 20px;
  list-style: none;
}

header #header_uol a{
  color: white;
  text-decoration: none;
}

header #header_jc{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: #2D54A4;
  padding: 20px;
}

header #header_jc img {
  height: 80.5px;
  width: 150px;
}

#jc_img {
  justify-self: center;
}

.dropdown-menu a{
  font-weight: bold;
}

.container-fluid {
  padding-left: 300px;
}

.dropdown-divider{
  background-color: #2D54A4;
}

.submenu p {
  font-weight: bold;
}

.submenu a {
  font-weight: normal;
}

#pesquisa {
  justify-self: end;
  display: flex;
  align-items: center;
  padding-right: 300px;
}

#pesquisa_caixa {
  width: 200px;
  height: 30px;
}

#pesquisa_botao {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
}

#img_lupa {
  left: 50px;
}

.opacidade { 
  width: 400px; 
  height: 200px; 
  
  /* edge e ios*/ -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100% 
  ); 
       
  /*chrome e firefox*/ mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20%, 
    black 80%, 
    transparent 100% ); 
}

.opacidade_interno { 
  width: 700px; 
  height: 240px; 
  overflow-y: scroll;
  overscroll-behavior: none;
  
  /* edge e ios*/ -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100% 
  ); 
       
  /*chrome e firefox*/ mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20%, 
    black 80%, 
    transparent 100% ); 
}